
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isFarmer() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.userType == 'farmer';
    }
    
    function isFarmerOfProduct(productId) {
        let product = get(/databases/$(database)/documents/products/$(productId)).data;
        return product.farmerId == request.auth.uid;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }
    
    match /categories/{categoryId} {
        allow read: if true;
        allow write: if false; // Admin only
    }

    match /products/{productId} {
      allow read: if true;
      allow create: if isSignedIn() && request.resource.data.farmerId == request.auth.uid;
      allow update, delete: if isSignedIn() && resource.data.farmerId == request.auth.uid;
    }

    match /orders/{orderId} {
      allow read: if isOwner(resource.data.customerId) || (isSignedIn() && request.auth.uid in resource.data.farmerIds);
      allow create: if isOwner(request.resource.data.customerId);
      allow update: if isSignedIn() && request.auth.uid in resource.data.farmerIds; // Allow farmer to update status
      allow delete: if false; // Orders should not be deleted, only cancelled
    }

    match /farms/{farmId} {
      allow read: if true;
      allow create, update, delete: if isOwner(resource.data.farmerId);
    }

    match /products/{productId}/reviews/{reviewId} {
      allow read: if true;
      allow create: if isOwner(request.resource.data.customerId);
      allow update, delete: if isOwner(resource.data.customerId);
    }

    match /farms/{farmId}/published_blog_posts/{blogPostId} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/farms/$(farmId)).data.farmerId == request.auth.uid;
    }

    match /farms/{farmId}/draft_blog_posts/{blogPostId} {
      allow read, write: if get(/databases/$(database)/documents/farms/$(farmId)).data.farmerId == request.auth.uid;
    }
  }
}
